<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Register</title>
    </head>
    
    <style>
a:link {
	font-family: Roboto, sans-serif;
	font-style: bold;
	color: white;
	text-decoration: none;
	font-size: 100%;
}

a:visited {
	font-family: Roboto, sans-serif;
	font-style: bold;
	color: white;
	text-decoration: none;
	font-size: 100%;
}

a:hover {
	font-family: Roboto, sans-serif;
	color: #8C8C8C;
	text-decoration: none;
	font-style: bold;
	font-size: 100%;
}

a:active {
	font-family: Roboto, sans-serif;
	font-style: bold;
	color: white;
	text-decoration: none;
	font-size: 100%;
}
</style>
    
    <body bgcolor="#404040">
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
        <h1>Ez itt a fos_user_content:</h1>
            {% block fos_user_content %}
            
            {% endblock fos_user_content %}
        </div>
    </body>
</html>
