{% extends "VideoConferenceWebsiteBundle::layout.html.twig" %} {% block
title %} {% trans %}Rooms{% endtrans %} {% endblock %} {% block head %}

{% endblock %} {% block create_room %} {% if is_granted('ROLE_USER') %}
<a href={{ path("default_create_room") }}>{% trans %}Create room{%
	endtrans %}</a>
<br>
<br>
{% endif %} {% endblock %} {% block content %}

<div>
	{% if is_granted('ROLE_USER') %} {% if rooms is null%}
	<div style="text-align: center;">
		<label>{% trans %}There are no rooms{% endtrans %}</label> <a
			href={{ path("default_create_room") }} class="button">{% trans %}Create room{%
			endtrans %}</a>
	</div>
	{% else %}
	<table>
		<th>{% trans %}Name{% endtrans %}</th>
		<th>{% trans %}Description{% endtrans %}</th>
		<th>{% trans %}Max users{% endtrans %}</th>
		<th>{% trans %}Created at{% endtrans %}</th>
		<th>{% trans %}Public{% endtrans %}</th>
		<th></th>
		<th></th>
		<th></th> {% for room in rooms %}
		<tr>
			<td>{{ room.name }}</td>
			<td>{{ room.description }}</td>
			<td>{{ room.maxUsers }}</td>
			<td>{% if app.request.locale=='en'%}{{ room.createdAt|date('m-d-Y /
				H:i:s') }} {% else%}{{ room.createdAt|date('Y-m-d / H:i:s') }}{% endif
				%}</td>
			<td>{% if room.isPublic %} <span>{% trans %}Yes{% endtrans %}<span> {% else %}
			  <span>{% trans %}No{% endtrans %}<span> {% endif %}
			</td>

			<td><a href={{ path("default_join_room",{'id':
				room.id}) }}>{% trans %}Join{% endtrans %}</a></td>
			<td><a href={{ path("default_modify_room",{'id': room.id}) }}>{%
					trans %}Modify{% endtrans %}</a></td>
			<td><a href={{ path("default_delete_room",{'id':
				room.id}) }}>{% trans %}Delete{% endtrans %}</a></td>
		</tr>
		{% endfor %}
	</table>
	{% endif %} {% endif %}
</div>



{% endblock %}
