{% extends "VideoConferenceWebsiteBundle::layout.html.twig" %} {% block
title %} {% trans %}Rooms{% endtrans %} {% endblock %} {% block head %}
{% endblock %} {% block create_room %} {% if is_granted('ROLE_USER') %}
<a class="link_buttons" href={{ path("default_create_room") }}>{% trans
	%}Create room{% endtrans %}</a>
<br>
<br>
{% endif %} {% endblock %} {% block content %}

<div>
	{% if is_granted('ROLE_USER') %} {% if rooms is null%} <span
		style="color: white">{% trans %}There are no rooms{% endtrans %}</span>
	{% else %}
	<table style="color: white;border-spacing: 10px;width:800px;	">
		<th style="text-align: left;">{% trans %}Name{% endtrans %}</th>
		<th style="text-align: left;">{% trans %}Description{% endtrans %}</th>
		<th>{% trans %}Max users{% endtrans %}</th>
		<th>{% trans %}Public{% endtrans %}</th>
		
			{% for room in rooms %}
			<tr>
			<td style="text-align: left;width:25%;">{{ room.name }}</td>
			<td style="text-align: left;width:25%">{{ room.description }}</td>
			<td style="text-align: center;">{{ room.maxUsers }}</td>
			<td style="text-align: center;">{% if room.isPublic %} <input type="checkbox" disabled="disabled"
				checked="checked"> {% else %} <input type="checkbox"
				disabled="disabled"> {% endif %}</td>
			
			<td><a class="link_buttons">{% trans %}Join{% endtrans %}</a>
			</td>
			<td><a class="link_buttons"
				href={{ path("default_modify_room",{'id': room.id}) }}>{% trans
					%}Modify{% endtrans %}</a></td>
			<td><a class="link_buttons" href={{ path("default_delete_room",{'id':
				room.id}) }}>{% trans %}Delete{% endtrans %}</a>
			</td></tr> {% endfor %}
	</table>
	 {% endif %} {% endif
	%}
</div>



{% endblock %}
