{% extends "VideoConferenceWebsiteBundle::layout.html.twig" %} {% block
title %} {% trans %}Modify profile{% endtrans %} {% endblock %} {% block
content %}

<div>
	{{ form_start(form) }}
	<div>
		<strong>{{ message |trans }}</strong>
	</div>
	{{ form_widget(form) }}
	<div style="margin-top: 1em">
		<input type="submit" value="{% trans %}Update profile{% endtrans %}" />
		<a class="button" href={{ path("default_delete_user") }}>{% trans %}Delete profile{% endtrans %}</a>
	</div>
	{{ form_end(form) }}
</div>
{% endblock %}
