{% extends "VideoConferenceWebsiteBundle::layout.html.twig" %}
{% block title %}
    {% trans %}Modify room{% endtrans %}
{% endblock %}
{% block
content %}
<div>
    {{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.description) }}
{{ form_row(form.maxUsers) }}
{{ form_widget(form.isPublic) }}<label for="form_isPublic">{% trans %}Public{% endtrans %}?</label>
    <div style="margin-top: 1em">
		<input type="submit"
			value="{% trans %}Modify room{% endtrans %}" />
	</div>
    {{ form_end(form) }}
</div>
{% endblock %}
